<div *ngIf="users" style="padding:10px">
    <span> <h3 >Users
  <a href="/users/add"> <button type="button" class="btn btn-block-sm btn-success pull-right">Add Users</button> </a> </h3> </span><br/>
    <div class="pull-right"><b>Total Users :</b> {{totalUsers}}</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>User Name</th>
                            <th>Display Name</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ user.userName }}</td>
                            <td>{{ user.displayName }}</td>
                            <td>{{ user.emailId }}</td>
                            <td>{{ user.createdDate | date : 'dd-MMM-yyyy'}}</td>
                            <td><i class="btn glyphicon glyphicon-eye-open cursor" (click)="userDetail(user._id)"></i>|<i class="btn glyphicon glyphicon-edit cursor" (click)="editUser(user._id)"></i>|<i class="btn glyphicon glyphicon-trash cursor" data-toggle="modal"
                                    data-template-url="app/user/user-delete.html" (click)="deleteUser(user._id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center"> <button type="button" class="btn btn-primary buttonLoad" *ngIf="users.length<totalUsers" (click)="pushUsers()">Load More ...</button> </div>
</div>